body.preloader {
    overflow: hidden !important;
}

#preloader {
    top: 50%;
    left: 42%;
    align-items: center;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}

.preloader nav,
.preloader header,
.preloader main,
.preloader div,
.preloader footer,
.preloader .modal.show {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    pointer-events: none;
}

nav,
header,
main,
footer {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

.loader{
    width: 160px;
    height: 160px;
    border-top: 10px solid #006698;
    border-right: 10px solid transparent;
    border-radius: 50%;
    animation: round 2s linear infinite;
}
.loader:before{
    content: '';
    background-color: #006698;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
@keyframes round{
    100%{ transform: rotate(360deg); }
}